.icon-tab {
    margin: 30px 15px 30px 15px;
    padding: 0;
    text-align : center;
    cursor: pointer;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16);
    /* border: solid 4px #efefef; */
    background-color: #ffffff;
    height: fit-content;
}

.icon-tab:hover{
  box-shadow: 0 3px 6px 0 rgb(206 32 46 / 40%);
  border: solid 1px #fca8a8;
}

.icon-tab.reward-detail span{
    text-align : left;
    font-size: 15px;
}
.reward-icon-tab-status{
  min-height: 68px;
  line-height: 50px;
}

.icon-tab-status{
  background-color: #969696;
  border-radius: 0 0 10px 10px;
  padding: 9px;
}

.icon-tab span.glyphicon {
    display : block;
    font-size: 35px;

    color: #8d98b8;

    margin:  0px auto;
    line-height: 65px;

    transition-duration: 0.25s;
}

.icon-tab span.glyphicon::before {
    padding: 2px 6.5px;
    border-radius: 80%;
}


.icon-tab.active span.glyphicon {
    color: white;
    margin-bottom: 10px;
}

.icon-tab.active span.glyphicon::before {
    padding: 15px 19.5px;
    border-radius: 100%;

    transition-duration: 0.4s;
}

.icon-tab.active span.glyphicon::before {
    background: linear-gradient(to bottom right, #24C6DC, #514A9D);
}


.icon-label {
    color:  #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.35s;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


.icon-tab.active .icon-label, .icon-tab:hover .icon-label {
    color: #FFFFFF;
    font-weight: 600;
}
.icon-tab.active .icon-tab-status{
  background-color: #ce202e;
  border-radius: 0 0 10px 10px;
}

.icon-tab.active {
  background-color: #faf0f0;
  top: -1.4em;
}

.icon-tab.reward-detail.active {
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(206, 32, 46, 0.4);
 border: solid 2px #fca8a8;
  top: 0;
}

.icon-tab.active img{
  width: 90%;
}

.icon-tab.reward-detail.active img{
  width: 70%;
}

.icon-tab:hover span.glyphicon {
    margin-bottom: 10px;
}


.item {
  margin-top: 50px;
}

.item.reward-detail {
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .icon-tab.active{
    top: -0.9em;
  }
  .icon-tab{
    min-height: 68px;
    line-height: 60px;
  }
  .reward-detail{
    margin: 30px 10px 30px 10px;
  }
}

@media (max-width:767px) {
    .icon-tab.active{
      top: -0.9em;
    }
    .icon-tab-status {
      min-height: 80px;
    }

    .icon-tab span {
        display: inline !important;
        vertical-align : middle;
    }

    .icon-tab.active span.glyphicon {
        padding-right: 10px;
    }

    .icon-tab:hover span.glyphicon {
        padding-right: 10px;
        transition-duration: 0.25s;
    }
}

@media only screen and (max-width: 479px) {
  /* reward */
  .mobile-version .icon-tab{
    border: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-backdrop-filter: blur(0px) !important;
    backdrop-filter: blur(0px) !important;
    top: 5em !important;
    margin: 0 !important;
  }
  .mobile-version .icon-tab.active {
    background-color: transparent !important;
    top: 5em !important;
  }
  .mobile-version .icon-tab .mb-level-img {
    width: 70% !important;
  }
  .mobile-version .icon-tab.active .mb-level-img {
    width: 70% !important;
  }
  /* reward detail */
  .mobile-version-detail{
    margin-right: 0;
    margin-left: 0;
  }
  .mobile-version-detail .icon-tab {
    margin: 20px 5px 20px 5px;
  }

}
