.hide {
    display: none !important;
}
/* ================================    owl-carousel slider Start  ===================== */

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    padding: 3px 9px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -30px !important;
    position: inherit;
}
/* ================================    owl-carousel slider End  ===================== */

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    padding: 3px 9px !important;
    color: #fff;
}

.owl-carousel button:focus {
    outline: none;
    color: #fff;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #04a9f5;
    color: #fff;
}

    .owl-theme .owl-nav .owl-prev{
        position: absolute;
        top: 0;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #626161;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
        left: -35px;
    }

    .owl-theme .owl-nav .owl-prev span, .owl-theme .owl-nav .owl-next span{
        font-size: 80px;
    }

    .owl-theme .owl-nav .owl-next{
        position: absolute;
        top: 0;
        right: -35px;
        z-index: 1;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #626161;
        text-align: center;
        opacity: .5;
        transition: opacity .15s ease;
    }

    .owl-theme .owl-nav [class*=owl-]:hover {
        background: transparent !important;
        color: #626161 !important;
        opacity: .7 !important;
        text-decoration: none;
    }

    .owl-item.active.center {
        margin-left: -15px;
    }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background: #fff;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0);
  }
  .red-right {
        font-size: 18px !important;
        color: #111111!important;
        border-right: 2px solid #C40010!important;
        padding-right: 1rem!important;
        padding-left: 1rem!important;
        border-radius: unset!important;
        /*  */
      }
  .img-shield{
    width: 100%;
  }

  /*  */
  .owl-item.active .card-shield {
    margin-top: 35px;
    width: 90%;
    opacity: .5;
    margin-left: 20px;
  }
  .owl-item.active .card-shield .lots-hide{
    display: none;
  }
  .owl-item.active.center .card-shield .lots-hide{
    display: unset!important;
  }
  .owl-item.active.center .card-shield{
    width: 120% !important;
    margin-top: 0!important;
    opacity: unset!important;
    margin-left: -5px;
  }
  .owl-prev span{
    color: red;
  }
  .owl-theme .owl-nav .owl-prev {
    position: absolute;
    top: 50px;
    left: 10px;
    opacity: unset!important;
    transition: opacity .15s ease;
  }
    .owl-next span {
      color: red;
  }
    .owl-theme .owl-nav .owl-next {
      position: absolute;
      top: 50px;
      right: 10px;
      z-index: 1;
      opacity: unset!important;
      transition: opacity .15s ease;
  }


@media only screen and (max-width: 479px) {
  .owl-item.active.center .card-shield {
    width: 100% !important;
  }
}